# git ignore file
*.vs
*.suo
*.ncb
*.user
*.userprefs
*.plgx
*.deb
*~
/bin
/build
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/files
/debian/keepass2-plugin-favicondownloader*
KeePassFaviconDownloader/bin
KeePassFaviconDownloader/lib
KeePassFaviconDownloader/obj
/packages
/plugin
