Source: keepass2-plugin-favicondownloader
Section: libs
Priority: extra
Maintainer: Marcel Schnirring <ms@marcel-schnirring.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://github.com/darkdragon-001/KeePass-Favicon-Downloader

Package: keepass2-plugin-favicondownloader
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: keepass2, mono-complete, ${misc:Depends}
Description: Keepass plugin to download favicons.
