Source: keepass2-plugin-favicondownloader
Section: libs
Priority: optional
Maintainer: Dark Dragon <darkdragon-001@web.de>
Build-Depends: debhelper (>=9), keepass2, nuget
Standards-Version: 4.1.4
Homepage: https://github.com/darkdragon-001/KeePass-Favicon-Downloader

Package: keepass2-plugin-favicondownloader
Section: libs
Architecture: all
Pre-Depends: ${misc:Pre-Depends}
Depends: keepass2, mono-complete, ${misc:Depends}
Description: Keepass plugin to download favicons.
 This plugin lets you download favicons for all your passwords saved in
 Keepass.
